@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body {background: #240f1e url(../images/background_index.png) 280px 180px no-repeat; color:rgb(248,233,210); 
	font-family: "arial",sans-serif; font-size: 16px; }
a, a:hover
 {color:rgb(248,233,210); font-weight: bold;}
/************************************ Ajustement on header image ************************************/
#head>header:after{clear:both;}
#head {
    text-align: right;
    height: 120px;
    line-height: 120px;
    background-image: url(../images/header1.jpg);
    background-repeat: no-repeat;
}
#head h1{
	float:left;
	padding-left: calc(100px + 2.5vw);
	padding-top: 30px;
  	font-family: "Dancing Script";
  	font-size: calc(1rem + 2vw);
}
#head h2 {
	float: right;
	padding-right: 0;
	padding-top: 30px;
}
/************************************ Ajustement on navigation bar ************************************/
.navbar-default { background-color: transparent; border:0;}
/*button*/
.navbar-default .navbar-toggle {border-color: rgb(248,233,210) !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgb(248,233,210) !important;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #240f1e !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(248,233,210);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgb(248,233,210);
}
nav ul li{
  margin-right: 10px;
  text-align: center;
  width: calc(90px + 1vw);
  font-weight: bold;
  margin-bottom: 5px;
}
nav li a {color:rgb(248,233,210) !important;}
nav li a:hover, 
nav li.active>a {  
	background-color: rgb(255,255,255) !important;
	color: #240f1e !important; 
	border: 1px white solid;
}

main, aside {margin-top: -15px;}

/************************************ Ajustement on section Quote ************************************/
#quote i {font-size: .8rem; color: rgb(255,128,128); }
#quote .btn-info {background-color: transparent;border: none;}
#quote blockquote{
    border-left:none;
    font-weight: 700;
}
#quote .quote-badge{
    background-color:#222;
    color: rgb(248,233,210);   
}
#quote .quote-box{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    margin-top: 15px;
    border:rgb(248,233,210) solid 1px;
    color:rgb(248,233,210);  
}
#quote hr {background-color: rgb(248,233,210); border: 0 none; color: rgb(248,233,210); height: 1px;}
#quote .quotation-mark{    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:rgb(248,233,210);
    font-family: "Times New Roman", Georgia, Serif;   
}

#quote .quote-text{    
    font-size: 1.2em;
    margin-top: -65px;
}
#quote h4 {line-height: 30px;}
#quote .author {font-size: 16px; }
#quote .feather {width: 30px; height: auto; fill:rgba(80,200,100,1);}
#quote .blog-post-actions p {display: -webkit-box;display: -ms-flexbox;display: flex; 
	-webkit-box-orient: horizontal; 
	-webkit-box-direction: normal; -ms-flex-direction: row; 
	flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; 
	align-items: center; width: 100%;position: relative;}
#quote span {display: inline-block; position: absolute; right:0;}


#pickoutlyric h4 span,
#album h4 span
{display: inline-block; border: rgb(248,233,210) solid 1px; border-radius: 8px 8px 0 0; border-bottom: 0;width: 140px; 
height: 30px; line-height: 30px; vertical-align: baseline;}
#pickoutlyric h4,
#album h4
 {border-bottom: 1px dotted rgb(248,233,210);}


#pickoutlyric .fa-star {color:red;}

#pickoutlyric article {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#pickoutlyric article span {display:inline-box; margin-right: 20px; }

#pickoutlyric footer,
#album footer
 {margin-right:10px; padding:10px 0;text-align: right;}



#album h4 span {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center;}
#album .albumicon {width: 20px; height: auto; fill: rgb(255,128,0);}
#album  .thumbnail {display: inline-block;}
#album .caption {padding-top:9px; padding-bottom: 0;}

/*Aside panel*/ 
#play,
#fav_lyrics,
#recommendation,
#socialmedia
{
	border:1px solid rgb(248,233,210); border-radius: 10px 10px 0 0; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-bottom: 10px;
	margin-bottom: 20px;
}
#play h4,
#fav_lyrics h4,
#recommendation h4,
#socialmedia h4
{font-family: "Dancing Script"; padding-bottom: 10px;}
#play span:last-child {color:#fcb203; font-weight: bold;}
audio {background-color: #240f1e;}

#recommendation img {width: 250px; height: auto; max-width: 100%;}
#recommendation p {width:100%; position: relative; padding: 10px;}
#recommendation p a {position: absolute; right:5px;}
#recommendation span {color: rgb(80,200,100);}

#socialmedia .fa {font-size: 48px !important; }
.fa-facebook-official {color: rgb(59,87,157);}
.fa-twitter-square {color: rgb(29,124,205);}
.myspace {height: 48px; width: 48px; fill:rgb(40,88,173);}
.fa-youtube-square {color:rgb(218,28,25);}
.fa-spotify {color: rgb(125,194,17);}
.fa-google-plus-square {color:rgb(204,51,51); font-size:30px;}
.fa-instagram {color: rgb(131,84,60);}
.fa-book {color: pink;}

#socialmedia .icons {display: flex; flex-direction: row; align-items: center; justify-content: center;flex-wrap:wrap; }
#socialmedia .icons  div {margin:3px;}
#socialmedia p {height: 40px; background-color: }
#socialmedia p a {color: rgb(80,140,230);}
#socialmedia h4 span {color: rgb(80,140,230);}

#fav_lyrics li {list-style: none;}
#fav_lyrics i::after {content:"\00a0\00a0";}
#fav_lyrics .fa-heart {color:rgb(255,128,192); font-size:12px;}
#fav_lyrics li a {color:  rgb(248,233,210); }


