@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body {background: #fff url(../images/background_index.png) 310px 220px no-repeat; color:#240f1e;
	font-family: "arial",sans-serif;
}
a, a:hover
 {color:#240f1e; font-weight: bold;}
/************************************ Ajustement on header image ************************************/

#head header:after{clear:both;}
#head {
    text-align: right;
    height: 120px;
    line-height: 120px;
    color:#fff;
    background-color: #240f1e;
}
#head .container{
    background: url(../images/header1.jpg);
    background-repeat: no-repeat;
    height:120px;
  }
#head h1{
	float:left;
	padding-left: calc(100px + 2.5vw);
	padding-top: 30px;
  	font-family: "Dancing Script";
  	font-size: calc(1.5em + 1vw);
}
#head h2 {
	float: right;
	padding-right: 0;
	padding-top: 30px;
}
/************************************ Ajustement on navigation bar ************************************/
#menu,
#menu .container,
#menu .container nav
 {margin-bottom: 0;
  background-color:#240f1e;}
.navbar-default { background-color: transparent; border:0;}
/*button*/
.navbar-default .navbar-toggle {border-color: #fff !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff !important;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #240f1e !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}
.navbar-default .navbar-collapse {
  background-color: #240f1e;
}
nav ul li{
  margin-right: 10px;
  text-align: center;
  width: calc(90px + 1vw);
  font-weight: bold;
 margin-bottom: 5px;
}
nav li a {color:#fff !important;}
nav li a:hover,
nav li.active>a {
	background-color: rgb(255,255,255) !important;
	color: #240f1e !important;
	border: 1px white solid;
}



main, aside {margin-top: 15px;  min-height: calc(100vh - 272px) !important;}

/************************************ Ajustement on section Quote ************************************/
#quote i {font-size: .8rem; color: rgb(255,128,128); }
#quote .btn-info {background-color: transparent;border: none;}
#quote blockquote{
    border-left:none;
    font-weight: 700;
}
#quote .quote-badge{
    background-color:#222;
    color: #240f1e;
}
#quote .quote-box{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    margin-top: 15px;
/*    border:#240f1e solid 1px;*/
    color:#240f1e;
}
#quote hr {background-color:#240f1e; border: 0 none; color:#240f1e; height: 1px;}
#quote .quotation-mark{
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color: #240f1e;
    font-family: "Times New Roman", Georgia, Serif;
}

#quote .quote-text{
    margin-top: -65px;
}
#quote h5 {line-height: 30px; background-color:#EDC330; box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;}
#quote .author {font-size: 16px; }
#quote .feather {width: 30px; height: auto; fill:rgba(80,200,100,1);}
#quote .blog-post-actions p {display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal; -ms-flex-direction: row;
	flex-direction: row; -webkit-box-align: center; -ms-flex-align: center;
	align-items: center; width: 100%;position: relative; height: 25px; line-height:25px;}
#quote span {display: inline-block; position: absolute; right:0;}

/************************************ Ajustement on section lyric recommended ************************************/
#pickoutlyric h4 span,
#album h4 span,
#alllyrics h4 span
{display: inline-block; border: #240f1e solid 1px;
  border-radius: 8px 8px 0 0; border-bottom: 0;
  width: 140px;
height: 30px; line-height: 30px; font-weight: bold;}
#pickoutlyric h4,
#album h4,
#alllyrics h4
 {border-bottom: 1px dotted #240f1e;}

#pickoutlyric .fa-star,
#alllyrics .fa-star
 {color:red;}

#pickoutlyric article {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#pickoutlyric article span {display:inline-box; margin-right: 20px; }

#pickoutlyric footer,
#album footer
 {margin-right:10px; padding:10px 0;text-align: right;}



#album h4 span {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center;}
#album .albumicon {width: 20px; height: auto; fill: rgb(255,128,0);}
@media (max-width:992px) {
	#album  .thumbnail {display: inline-block;}
}

#album .caption {padding-top:9px; padding-bottom: 0;}
#album article .row div {text-align: center;}

/*Aside panel*/
#fav_lyrics blockquote {
	font-size: 1em;
}

a.text-mycolor,
a.text-mycolor:hover {
    color: #c29804;
}

#play,
#fav_lyrics,
#recommendation,
#socialmedia
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: flex-start; padding-bottom: 10px;
	margin-bottom: 20px;
}
#play h4 span,
#fav_lyrics h4 span,
#recommendation h4 span,
#socialmedia h4 span
{
  height: 30px; line-height: 30px;
  font-family: "Dancing Script";
border:1px solid #240f1e; border-radius: 10px 10px 0 0;
font-weight: bold;text-align: center; padding: 5px; padding: 7px 10px 5px;border-bottom: none;}
#play h4 i,
#fav_lyrics h4 i,
#recommendation h4 i,
#socialmedia h4 i
{color:#fcb203;}

#play h4,
#fav_lyrics h4,
#recommendation h4,
#socialmedia h4
{width: 100%; border-bottom: 1px dotted #240f1e;}

audio {background-color: #240f1e; width: 100%}

#recommendation,
#socialmedia
 {display: flex; flex-direction: column; align-items: center;}
#recommendation img {width: 250px; height: auto; max-width: 100%;}
#recommendation p {width:100%; padding: 10px;}
#recommendation i {color: rgb(80,200,100);}

#socialmedia .fa {font-size: 48px !important; }
.fa-facebook-official {color: rgb(59,87,157);}
.fa-twitter-square {color: rgb(29,124,205);}
.myspace {height: 48px; width: 48px; fill:rgb(40,88,173);}
.fa-youtube-square {color:rgb(218,28,25);}
.fa-spotify {color: rgb(125,194,17);}
.fa-google-plus-square {color:rgb(204,51,51); font-size:30px;}
.fa-instagram {color: rgb(131,84,60);}
.fa-book {color: rgb(255,128,192) !important; font-size:9px;}

#socialmedia .icons {display: flex; flex-direction: row; align-items: center; justify-content: center;flex-wrap:wrap; }
#socialmedia .icons  div {margin:3px;}
#socialmedia p {height: 40px; font-size: 1.2em; }
#socialmedia p a {color: rgb(80,140,230); font-size: 1.3em;}
#socialmedia h4 i {color: rgb(80,140,230);}

#fav_lyrics li {list-style: none;}
#fav_lyrics i::after {content:"\00a0\00a0\00a0";}

@media (max-width:768px) {
	ul {padding-left: 10px !important;}
}
#fav_lyrics .fa-heart {color:pink; font-size:9px;}


#pagefooter {text-align: center; background-color:#240f1e; color: #fff; padding: 30px; color: rgb(248,233,210);}

#alllyrics i{color:red; font-weight: bold; display:inline-block;}
#alllyrics i::after,
#alllyrics i::before
{content:"\00a0\00a0\00a0";}
input[type=submit]{margin:5px 5px 5px 0; padding:8px 12px; }
